%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Home", root_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      .text-nowrap.fw-bold= "Events"

- @events.each do | event |
  = render EventPresenter.new(event)

- if @pagy.pages > 1
  .d-flex.justify-content-center.mt-4
    = raw pagy_bootstrap_nav @pagy
