%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{href: "#"} Home
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = link_to "Events", events_path

- @events.each do | event |
  = render event

= raw pagy_bootstrap_nav @pagy
