= page_header 'Über uns'
%h2
  Der Verein
%p
  Der Verein wurde am 20. Juli 1991 als FC Bayern Fanclub 'Rote Macht Wartenberg' gegründet.
  Nach turbulenten Jahren und einer zwischenzeitlichen Umbenennung in 'FC Bayern Fanclub Wartenberg'
  firmiert unser Verein nun als 'Henaheisl e.V.'.

%h2
  Das Henaheisl
%p
  Das Henaheisl ist wohl einer der bekanntesten "Underground-Treffs" in Wartenberg, wo man meist zur späteren Stunde,
  viele Berühmtheiten des Wartenberger Nachtlebens trifft.
%p
  Das Baudatum steht nicht genau fest, es dürfte aber in den 1930ern gewesen sein. Nachdem Mitte der 70er die ursprünglichen Bewohner ihr trautes Heim verlassen mussten, wurde es als Gartenhäuschen umgebaut. Erst Ende der 80er wurde es von ein paar unerschrockenen dauerparty-erprobten-Nachtschwärmern entdeckt und in vielen mühevollen Arbeitsstunden zu ihren Domizil umgebaut.
