
= page_header ' Über uns'

%h2 Der Verein
%p
  Der Verein wurde am 20. Juli 1991 als FC Bayern Fanclub Rote Macht Wartenberg gegründet.
  %br
  Nach turbulenten Jahren und einer zwischenzeitlichen Umbenennung in FC Bayern Fanclub Wartenberg
  %br
  firmiert unser Verein nun als Henaheisl e.V.

%p
  %h4 Gründungsversammlung am 20. Juli 1991 im Henaheisl
  = image_tag 'gruendungsversammlung.jpg',:class => 'img-thumbnail img-responsive'
  %br
  .strong-inline Gründungsmitglieder:
  %ul
    %li Arno Fiederer
    %li Willi Fiederer
    %li Bernhard Hein
    %li Gerhard Maier
    %li Kilian Elflein
    %li Maria Blumoser
    %li Sepp Blumoser
    %li Willi Pöppel
    %li Michael Deimel
    %li Markus Loibl (Fotograf)
%br
%p
  %h4 Mitgliedschaft beim FC Bayern

  = image_tag 'gruendungsurkunde.jpg',:class => 'img-thumbnail img-responsive'
  %br
  die offizielle Aufnahme als Fanclub beim FC Bayern erfolgte 1992
%br
%h2 Das Henaheisl
%p
  Das Henaheisl ist wohl einer der bekanntesten "Underground-Treffs" in Wartenberg, wo man meist zur späteren Stunde,
  viele Berühmtheiten des Wartenberger Nachtlebens trifft.
%p
  Das Baudatum steht nicht genau fest, es dürfte aber in den 1930ern gewesen sein. Nachdem Mitte der 70er die ursprünglichen Bewohner ihr trautes Heim verlassen mussten, wurde es als Gartenhäuschen umgebaut. Erst Ende der 80er wurde es von ein paar unerschrockenen dauerparty-erprobten-Nachtschwärmern entdeckt und in vielen mühevollen Arbeitsstunden zu ihren Domizil umgebaut.
%h2 Der Sport
%p
  %ul
    %li Wartenberger Clubmeister im Hallenfußball 1993, 1997, 1998, 2012
    %li Wartenberger Markmeister Skifahren (Mannschaft)
    %li 2001 Sieger Opel-Cup Turnier in Straubing

%h2 Die Seit

%p
  Wir sind seit 1995 im Internet vertreten.
  %br
  Unser erste Seite war bei Compuserve:
  %b http://ourworld.compuserve.com/homepages/wartenberg/

%p
  = image_tag "homepage-v1.jpg", :class => "img-thumbnail"
  %br
  Die Seit im Jahr 2001
