%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Über uns', about_path

%h2 Der Verein
%p
  Der Verein wurde am 20. Juli 1991 als FC Bayern Fanclub 'Rote Macht Wartenberg' gegründet.
  Nach turbulenten Jahren und einer zwischenzeitlichen Umbenennung in 'FC Bayern Fanclub Wartenberg'
  firmiert unser Verein nun als 'Henaheisl e.V.'.

%p
  = image_tag "https://farm7.staticflickr.com/6004/5939699020_85655bceb1_z.jpg", :class => "img-thumbnail"
  %h4 Gründungsversammlung am 20. Juli 1991 im Henaheisl
%h2 Das Henaheisl
%p
  Das Henaheisl ist wohl einer der bekanntesten "Underground-Treffs" in Wartenberg, wo man meist zur späteren Stunde,
  viele Berühmtheiten des Wartenberger Nachtlebens trifft.
%p
  Das Baudatum steht nicht genau fest, es dürfte aber in den 1930ern gewesen sein. Nachdem Mitte der 70er die ursprünglichen Bewohner ihr trautes Heim verlassen mussten, wurde es als Gartenhäuschen umgebaut. Erst Ende der 80er wurde es von ein paar unerschrockenen dauerparty-erprobten-Nachtschwärmern entdeckt und in vielen mühevollen Arbeitsstunden zu ihren Domizil umgebaut.
%h2 Der Sport
%p
  %ul
    %li Wartenberger Clubmeister im Hallenfußball 1993, 1997, 1998, 2012
    %li Wartenberger Markmeister Skifahren (Mannschaft)
    %li 2001 Sieger Opel-Cup Turnier in Straubing

%h2 Die Seit
%p
  Wir sind seit 1995 im Internet vertreten.
  Unser erste Seite war bei Compuserve:
  %b http://ourworld.compuserve.com/homepages/wartenberg/

