- content_for(:title) { "Bilder" }

%h2 Bilder / Fotoalben

%p
  Die Fotoalben sind aus Datenschutzgründen nicht mehr öffentlich verfügbar.

%p
  Gemäß der Datenschutz-Grundverordnung (DSGVO) haben wir uns entschieden,
  die Bilder unserer Veranstaltungen und Vereinsaktivitäten nicht mehr
  öffentlich im Internet zu zeigen, um die Persönlichkeitsrechte unserer
  Mitglieder und Gäste zu schützen.

%p
  Bei Fragen wenden Sie sich bitte an
  = mail_to "info@henaheisl.de"
