- content_for(:title) { "No Big Birds Festival 2005" }
- content_for(:description) { "Das No Big Birds Open-Air Festival 2005 auf dem Nikolaiberg in Wartenberg, veranstaltet vom Henaheisl e.V." }

%h1 No Big Birds Festival 2005

%p.lead
  Open-Air Festival auf dem Nikolaiberg in Wartenberg &mdash; veranstaltet vom
  = link_to "Henaheisl e.V.", root_path
  mit Unterstützung von Aktiv-Wartenberg.

%section.mb-4
  %h2 Infos
  %dl.row
    %dt.col-sm-3 Datum
    %dd.col-sm-9 Samstag, 06.08.2005 ab 13:00 Uhr
    %dt.col-sm-3 Ort
    %dd.col-sm-9 Nikolaiberg, 85456 Wartenberg
    %dt.col-sm-3 Eintritt
    %dd.col-sm-9 5 €

%section.mb-4
  %h2 Lineup
  %table.table.table-striped
    %thead
      %tr
        %th Zeit
        %th Band
    %tbody
      %tr
        %td 14:30 Uhr
        %td Blank Promise
      %tr
        %td 15:30 Uhr
        %td No Opinion
      %tr
        %td 16:30 Uhr
        %td Pavlik
      %tr
        %td 18:00 Uhr
        %td Prefume
      %tr
        %td 19:00 Uhr
        %td Homeslice
      %tr
        %td 20:30 Uhr
        %td Scab
      %tr
        %td 21:30 Uhr
        %td The Capones
      %tr
        %td 23:00 Uhr
        %td Desert In Bloom
  %p.text-muted Änderungen traten nur im Notfall (bei kurzfristigen Absagen) auf.

%section.mb-4
  %h2 Location
  %p
    An der Kirche stand die Bühne, die Leute auf dem Hügel links &mdash; der Nikolaiberg bot die
    perfekte Kulisse für das Festival. Im Schatten der Bäume konnte man im Biergarten chillen.
    Die fahrbare Bühne wurde von der Fahrschule Fragner zur Verfügung gestellt.
  %p Das Festival fand bei jeder Witterung statt!

%section.mb-4
  %h2 Anfahrt
  %address
    No Big Birds Festival Parkplätze
    %br/
    Marktplatz 1
    %br/
    85456 Wartenberg
