= render "next_event", event: @next_event

- if @current_posts.any?
  = render "posts/posts", posts: @current_posts
- else
  .d-flex.justify-content-center.m-5
    = image_tag "logo_fcb.png", class: "img-responsive"
