%h1.visually-hidden Henaheisl e.V. - FC Bayern Fanclub Wartenberg

= render "next_event", event: @next_event ? EventPresenter.new(@next_event) : nil

- if @current_posts.any?
  = render "posts/posts", posts: PostPresenter.wrap(@current_posts)
- else
  .d-flex.justify-content-center.m-5
    = image_tag "logo_fcb.png", class: "img-fluid", alt: "FC Bayern München Logo"
