=page_header I18n.t("activerecord.models.contact")

- %w(name email subject body).each do |attr_name|
  %p
    %b=I18n.t("activerecord.attributes.contact.#{attr_name}")
    = @contact.send attr_name

= back_button admin_contacts_path
