<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%=  @contact.subject %> </h1>
    <p>
     von: <%=  @contact.name %> <%=  @contact.email %>
    </p>
    Nachricht:
    <p>
     <%=  @contact.body %>
    </p>

  </body>
</html>
