%ul.list-group
  %li.list-group-item= show_button admin_posts_path,  "Posts"
  %li.list-group-item= show_button admin_events_path, "Events"
  %li.list-group-item= show_button admin_users_path,  "Users"

.mt-4
  %h2 Debug
  %p
    This link will intentionally raise an error to test error reporting:
    %strong
      = link_to "raise error", exception_path
