#carousel.carousel.slide{data: {ride: 'carousel'}}
  %ol.carousel-indicators
    - photos.each_with_index do |photo, index|
      %li{class: ('active' unless index > 0), data: {target: '#carousel', slide_to: index } }
  .carousel-inner
    - photos.each_with_index do |photo, index|
      = render 'photos/photo',:photo => photo, :index => index

  = link_to '#carousel', :"data-slide" => 'prev', :class => 'carousel-control left' do
    .span.glyphicon.glyphicon-chevron-left
  = link_to '#carousel', :"data-slide" => 'next', :class => 'carousel-control right' do
    .span.glyphicon.glyphicon-chevron-right

