- cache([photo,current_role]) do
  .item{class: ('active' unless index > 0)}
    = image_tag(photo.url_big.presence || photo.url_original , :class => "img-thumbnail img-responsive")#,  photo
    .carousel-caption.hidden-xs
      %h3= photo.album.flickr_title.titleize
      -#= photo.flickr_description if photo.flickr_description.present?
      %p= link_to "Original", photo.view_on_flickr_url, :class => 'flickr-link'
