-# -*- coding: UTF-8 -*-
=page_header 'Bilder'

.row
  .col-sm-10.col-sm-offset-2
    .text-center
      %h3 Gründungsversammlung am 20. Juli 1991
    = image_tag "https://farm7.staticflickr.com/6004/5939699020_85655bceb1_z.jpg", :class => "img-thumbnail"
%p
%h3 More pictures coming soon...
