- content_for(:title) { "Blog" }
- content_for(:description) { "Neuigkeiten und Berichte vom Henaheisl e.V. - FC Bayern Fanclub Wartenberg." }

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Home", root_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      .text-nowrap.fw-bold Posts

%h1 Blog

- if params[:q].present?
  .alert.alert-info.d-flex.justify-content-between.align-items-center
    %span
      Suchergebnisse für:
      %strong= params[:q]
    = link_to "Suche zurücksetzen", posts_path, class: "btn btn-sm btn-outline-secondary"

= render "posts/posts", posts: PostPresenter.wrap(@posts)
