.event {
    border: 1px solid $border-color;
    background-color: $main-bg;
    border-radius: 4px;
    margin-bottom: 20px;
    span.calicon {
        float: left;
        display: inline;
        text-align: center;
    }
    span.caliconSmall {
        border: 1px solid #D3D3D3;
        width: 50px;
        margin-top: 25px;
        height: 50px;
        font-size: 15px;
        background-color: $fcb-white;
    }
    span.calicon span {
        display: block;
        float: left;
        width: 100%;
    }
    span.calicon span.month {
        background-color: #B60000;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 1.2em;
        text-align: center;
        height: 23px;
    }
    .date {
        margin-left: 15px;
    }
    .event-header {
        margin-left: 70px;
    }
    .event-title {
        margin-top: 17px;
        font-size: 30px;
        font-weight: bold;
    }
    .event-meta {
        color: $title-meta-color;
    }
}
