//Sticky Footer
$navbar-default-bg: $fcb-red;
$navbar-default-color: $fcb-white;
$navbar-default-link-color: $fcb-white;

$navbar-default-bg: $fcb-red;

$main-bg: whitesmoke;
$title-meta-color: $meta-grey;

// .banner {
//     background-color: $fcb-red;
//     color: $fcb-white;
//     padding: 10px;
//     margin-bottom: 10px;
//     text-align: center;
//     font-size: 20pt;
//     font-weight: bold;
// }


.footer {
    margin-top: auto;
    padding: 40px 0;
    color: $title-meta-color;
    text-align: center;
    background-color: $main-bg;
    border-top: 1px solid #e5e5e5;
}

#personal_box {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    font-size: 15pt;
}

#personal_box p {
    margin: 0;
    margin-top: 3px;
    margin-right: 10px;
}

#personal_box #current_user {
    font-weight: bold;
}

#personal_box a {
    color: #fff;
}



nav {
    // font-size: $font-size-large;
    // background-color: green;

      .fa-home {
          font-size: 30px;
      }

      .nav-link {
      a {
          color: $fcb-white;
      }

      .nav-link >a:hover {
          color: $fcb-red;
          background-color: grey;
      }

      .nav-link .active>a {
          background-color: #ccc;
          color: #0088cc;
      }
    }
}

#sidebar {
    text-align: left;
    padding-left: 30px;

    .fa-calendar {
        color: $title-meta-color;
    }

    li.sidebar-event {
        list-style: none;
        padding-bottom: 10px;
    }

    #next-events {
        padding-left: 0;
    }

    .title {
        text-decoration: underline;
    }

    /* Sidebar modules for boxing content */
    .sidebar-module {
        border: 1px solid $border-color;
        padding: 15px;
        margin: 0 -15px 15px;
    }

    .sidebar-module-inset {
        padding: 15px;
        background-color: $main-bg;
        border-radius: 4px;
    }

    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }
}

.blog-post {
    border: 1px solid $border-color;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: $title-meta-color;
}


.strong {
    font-weight: bold;
}

.strong-inline {
    font-weight: bold;
    display: inline
}

.event {
    border: 1px solid $border-color;
    background-color: $main-bg;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 15px;
    span.calicon {
        float: left;
        display: inline;
        text-align: center;
    }
    span.caliconSmall {
        border: 1px solid #D3D3D3;
        width: 50px;
        margin-top: 25px;
        height: 50px;
        font-size: 15px;
        background-color: $fcb-white;
    }
    span.calicon span {
        display: block;
        float: left;
        width: 100%;
    }
    span.calicon span.month {
        background-color: #B60000;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 1.2em;
        text-align: center;
        height: 23px;
    }

    .event-header {
        margin-left: 70px;
    }
    .event-title {
        margin-top: 17px;
        font-size: 30px;
        font-weight: bold;
    }
    .event-meta {
        color: $title-meta-color;
    }
}
