#sidebar {
    text-align: left;
    padding-left: 30px;
    .fa-calendar {
        color: $title-meta-color;
    }
    li.sidebar-event {
        list-style: none;
        padding-bottom: 10px;
    }
    #next-events {
        padding-left: 0;
    }
    .title {
        text-decoration: underline;
    }
    /* Sidebar modules for boxing content */
    .sidebar-module {
        border: 1px solid $border-color;
        padding: 15px;
        margin: 0 -15px 15px;
    }
    .sidebar-module-inset {
        padding: 15px;
        background-color: $main-bg;
        border-radius: 4px;
    }
    .sidebar-module-inset p:last-child,
    .sidebar-module-inset ul:last-child,
    .sidebar-module-inset ol:last-child {
        margin-bottom: 0;
    }
}
