- if flash.present?
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{id: "top-alert", class: "m-1 alert alert-dismissible fade show alert-#{name == :notice ? "success" : "warning"}", role: "alert"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, id: "flash_#{name}"
