#personal_box
  - if current_user
    %i.fa-solid.fa-user
    = current_user.username
    |
    = link_to session_path, data: { turbo_method: :delete } do
      %i.glyphicon.glyphicon-log-out
      Ausloggen

  -# hide login link

  -# -else
  -#   =link_to login_path do
  -#     %i.glyphicon.glyphicon-log-in
  -#       Login
